<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <security xdt:Transform="Replace">
      <ipSecurity allowUnlisted="false" denyAction="NotFound">
        <!-- Hinttech -->
        <add allowed="true" ipAddress="95.128.91.0" subnetMask="255.255.255.0"/>
        <!-- AppVeyor 
        
        IP addresses assigned to build workers:

        169.54.128.0/27
        169.54.128.128/27
        198.23.110.32/29
        169.54.147.96/27
        50.23.71.176/29
        50.23.78.112/29
        50.97.254.64/27
        http://www.appveyor.com/docs/build-configuration#build-environment
        -->
        <add allowed="true" ipAddress="169.54.128.0" subnetMask="255.255.225.224"/>
        <add allowed="true" ipAddress="69.54.128.128" subnetMask="255.255.225.224"/>
        <add allowed="true" ipAddress="198.23.110.32" subnetMask="255.255.255.248"/>
        <add allowed="true" ipAddress="169.54.147.96" subnetMask="255.255.225.224"/>
        <add allowed="true" ipAddress="50.23.71.176" subnetMask="255.255.255.248"/>
        <add allowed="true" ipAddress="50.23.78.112" subnetMask="255.255.255.248"/>
        <add allowed="true" ipAddress="50.97.254.64" subnetMask="255.255.255.224"/>
      </ipSecurity>
    </security>
  </system.webServer>
  <appSettings>
  </appSettings>
</configuration>